cluster:
  apiServer:
    certSANs: &sans
      - "#{ bootstrap_controller_vip }#"
      - 127.0.0.1 # KubePrism
      #% for item in bootstrap_tls_sans %#
      - "#{ item }#"
      #% endfor %#
machine:
  certSANs: *sans
