cluster:
  network:
    cni:
      name: none # Name of CNI to use.
    proxy:
      disabled: true

    # The pod subnet CIDR.
    podSubnets:
      - "#{ bootstrap_pod_network.split(',')[0] }#"
    # The service subnet CIDR.
    serviceSubnets:
      - "#{ bootstrap_service_network.split(',')[0] }#"
