---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  #% if bootstrap_cloudflare.acme.production %#
  CLUSTER_ISSUER: letsencrypt-production
  #% else %#
  CLUSTER_ISSUER: letsencrypt-staging
  #% endif %#

  SETTING_EXAMPLE: Global settings for your cluster go in this file, this file is NOT encrypted
